<div class="center jumbotron">
	<h1>Welcome to the sample App</h1>

	<h2>This is the home page for thi website</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("penguin.png", alt: "A Penguin", width: 300, height: 300), 'http://www.google.com/' %>